
 /*   color: #4c00ff;
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style:italic;
    font-size: 40px;
    line-height: ; ESPAÇAMENTO DAS LINHAS  
    letter-spacing: ;ESPAÇAMENTO DAS LETRAS
    word-spacing: ; ESPAÇAMENTO ENTRE AS PALAVRAS
    text-align:;  CENTRALIZADO, NA DIREITA OU NA ESQUERDO
    text-transform:;
    text-decoration: ; */
  